#download-section {
  padding: 72px 16px;
}

#download-section .left-container {
  margin-right: 20px;
  max-width: 381px;
}

#download-section .apple-button {
  margin-bottom: 0;
}

#download-section .image {
  width: 430px;
  height: 298px;
}

@media (max-width: 767px) {
  #download-section {
    padding-top: 40px;
  }

  #download-section .left-container {
    margin-right: 0;
  }

  #download-section .apple-button {
    margin-bottom: 56px;
  }

  #download-section .image {
    height: unset;
  }
}