#promotion-section {
  padding: 24px 0 40px;
}

#promotion-section .slider {
  width: 722px !important;
  height: 177px !important;
  margin: 0 auto;
}

#promotion-section .slider-slide {
  width: 722px !important;
  height: 177px !important;
}

#promotion-section .slider-control-centerleft {
  left: -48px !important;
}

#promotion-section .slider-control-centerright {
  right: -48px !important;
}

#promotion-section .custom-paging-dots > ul {
  top: 22px !important;
}

#promotion-section .custom-paging-dots li {
  margin: 0 4px;
}

@media (max-width: 767px) {
  #promotion-section {
    padding: 24px 24px 40px;
  }

  #promotion-section .slider {
    width: 100% !important;
    height: 160px !important;
  }

  #promotion-section .slider-control-centerleft {
    display: none;
  }

  #promotion-section .slider-control-centerright {
    display: none;
  }

  #promotion-section .carousel-container {
    width: 100%;
  }

  #promotion-section ul, #promotion-section li {
    height: 100% !important;
  }

  #promotion-section .carousel-image {
    width: 100%;
    height: 100%;
    object-position: left;
  }
}