#promotion-description .promotion-image {
  border-radius: 4px;
}

#promotion-description #copy-code {
  border: 1px dashed var(--air-force-blue);
  background-color: #f0f3f6;
  padding: 7px 8px 5px 16px;
}

#promotion-description .codeQR {
  width: 120px;
  height: 120px;
  margin-bottom: 16px;
}

#promotion-description #app-link {
  width: 566px;
  margin-left: 24px;
}

#instruction-section #instruction-card {
  width: 374px;
  min-height: 160px;
  margin-left: 8px;
  margin-right: 8px;
}

@media (max-width: 767px) {
  #promotion-description .promotion-image {
    border-radius: 0;
    height: 183px;
  }

  #promotion-description .promotion-info {
    padding: 0 24px;
  }

  #promotion-description .codeQR {
    display: none;
  }

  #promotion-description #app-link {
    width: 100%;
    margin-left: 0;
    margin-top: 24px;
  }

  #instruction-section {
    padding-left: 24px;
    padding-right: 24px;
  }

  #instruction-section #instruction-card {
    width: 100%;
    max-width: 374px;
    margin: 8px 0;
  }
}