#tutorial-section {
  padding: 56px 8px 40px;
}

#tutorial-section .slider {
  width: 400px !important;
}

#tutorial-section .slider-control-topcenter {
  top: -60px !important;
}

#tutorial-section .slider-control-bottomcenter {
  bottom: -60px !important;
}

#tutorial-section .custom-paging-dots > ul {
  flex-direction: column;
}

.tutorial-card {
  width: 380px;
}

@media (max-width: 767px) {
  #tutorial-section {
    padding: 40px 8px 72px;
  }
  
  #tutorial-section .slider {
    width: 100% !important;
    max-width: 381px;
    margin: auto;
  }

  #tutorial-section .slider-control-centerleft,
  #tutorial-section .slider-control-centerright,
  #tutorial-section .slider-control-bottomcenter {
    display: none;
  }

  #tutorial-section .slider-control-topcenter {
    top: 0 !important;
    left: 0 !important;
    transform: unset !important;
    -webkit-transform: unset !important;
    -ms-transform: unset !important;
    pointer-events: none;
  }
}