.ck-content {
  min-width: 936px;
  max-width: 960px;
  margin: 0 auto 48px;
  letter-spacing: 3.5px;
  padding: 0 8px;
}

.ck-content h2 {
  font-family: 'Noto Serif JP', serif;
  font-size: 40px;
  font-weight: 600;
}

.ck-content h4 {
  font-size: 20px;
  font-weight: 500;
}

.ck-content p {
  font-size: 16px;
}

.ck-content h4 ~ p,
.ck-content h4 ~ ol {
  padding-left: 24px;
}

.ck-content a {
  color: var(--soft-blue);
  text-decoration: underline;
}

.ck-content table {
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid var(--footer-color);
  padding: 48px;
  width: 100%;
  border-radius: 8px;
  letter-spacing: normal;
}

.ck-content tr td:first-child {
  font-weight: bold;
  padding-right: 24px;
}

.ck-content td {
  padding: 24px 0;
  min-width: 240px;
  font-size: 16px;
}

.ck-content tr:not(:last-child) td {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.15);
}

.ck-content figure {
  display: flex;
  justify-content: center;
}

@media (max-width: 959px) {
  .ck-content {
    min-width: unset;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .ck-content table {
    padding: 24px;
  }

  .ck-content td {
    min-width: 100px;
  }
}