#custom-tab {
  min-width: 936px;
  max-width: 960px;
  margin: 72px auto 48px;
  padding: 0 8px;
}

/* Vertical */
.vertical-flex {
  display: flex;
}

.vertical-tab .tabs-root {
  min-width: 250px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  align-items: flex-start;
}

.vertical-tab .tabs-indicator {
  background-color: var(--air-force-blue) !important;
  width: 100% !important;
  border-radius: 4px;
}

.vertical-tab .tab-root {
  margin-top: 8px;
  padding: 8px 16px;
  font-size: 16px;
}

.vertical-tab .tab-root span {
  color: var(--air-force-blue);
  transition: color 0.25s ease;
  align-items: flex-start;
}

.vertical-tab .tab-selected {
  z-index: 100;
}

.vertical-tab .tab-selected span {
  color: #fff;
}

.vertical-tab ul {
  padding-left: 24px;
  list-style-image: url('/images/question.svg');
  font-size: 20px;
  font-weight: 600;
}

.vertical-tab ul ul {
  list-style-image: url('/images/answer.svg');
  font-size: 16px;
  font-weight: 400;
}

.vertical-tab .tabpanel-content {
  padding: 24px;
}

/* Horizontal */
.horizontal-tab .tabs-root {
  margin-top: 32px;
}

.horizontal-tab .tabs-indicator {
  background-color: white;
  height: 90%;
  border: 1px solid #a7b5c0;
  border-bottom-color: white;
  border-radius: 8px 8px 0 0;
}

.horizontal-tab .tabs-flex-container {
  border-bottom: 1px solid #a7b5c0;
  justify-content: center;
}

.horizontal-tab .tab-root {
  font-size: 28px;
  font-weight: 500;
  padding: 8px 40px;
  display: flex;
  align-items: center;
  z-index: 100; 
}

.horizontal-tab p {
  padding-left: 24px;
}

.horizontal-tab h2 {
  padding-top: 32px;
  padding-bottom: 4px;
  border-bottom: 1px solid #a7b5c0;
  font-weight: 600;
  font-size: 24px;
}

.horizontal-tab h3 {
  padding-top: 32px;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
}

@media (max-width: 959px) {
  #custom-tab {
    min-width: unset;
    max-width: 100%;
  }
}

@media (max-width: 599px) {
  .vertical-flex {
    display: block;
  }

  .vertical-tab .tabs-root {
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    align-items: stretch;
    padding-bottom: 16px;
  }
}