.slider:focus {
  outline: none;
}

.custom-paging-dots li {
  line-height: 1;
}

.custom-paging-dots li button {
  fill: white !important;
}

.custom-paging-dots li.active button {
  fill: var(--air-force-blue) !important;
}